body {background:white; font-family:"Elephant";}
h1 {text-align:center; font-weight:bold;font-style:italic;font-size:32pt;}
h2 {text-align:center; font-size:20pt;}
ul { margin:0px; padding:0; list-style:none; }
li { margin-left:18px; margin-bottom:18px; padding:0;  }
.style{border:14pt solid black; width:auto; padding:120pt; margin-top:14pt; margin-bottom:14pt; margin-right:14pt; margin-left:14pt;}